.second-screen {
    position: relative;
    width: 1073px;
    height: 505px;
    top: -80px;
    left: 194px;
}

.zag2 {
    position: absolute;
    width: 385px;
    height: 62px;
    top: -50px;
    left: 500px;  
    font-family: "Gotham pro Bold";
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    color: #FFFFFF;    
}

.text2 {
    position: absolute;
    width: 542px;
    height: 109px;
    top: 100px;
    left: 500px;     
    font-family: "Gotham Pro";
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    color: #E2521D;    
}

.text3 {
    position: absolute;
    width: 572px;
    height: 146px;
    top: 300px;
    left: 500px;  
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;   
    color: #8997AB;
}